
.imgpage{
    height: 800px;
}


.imgsgall{
/*    width: 85%;*/
    height: 200px;
/*    overflow: auto;*/
    margin-top: 10%;
    
}

.rimgs{
    height: 150px;
    width: 190px;
}

.imgupload{
    margin-top: 5%;
}

.col{
    position: relative;
}

.col .close{
    position: absolute;
/*    top: 110px;*/
    left: 50%;
/*    right: 2px;*/
    
}
.col .close:hover{
    color: red;
}

#picsdata{
    height: 350px;
    margin-top: 10%;
}

.dropzone{
    height: 200px;
    width: 600px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: gray;
}

.thumbnail{
  height: 100px;
  margin: 10px;
}


.uploadbtn{
    position: absolute;
    top: 600px;
    left: 42%;
}
.ittl{
    position: absolute;
    top: 200px;
    left: 380px;
}

.rimgs{
    position: relative;
}

.roomimg button{
    position: absolute;
    left: 200px;
    top: 2px;
    margin-left: 25px;
    color: red;
}

